<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>登陆</title>
    
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/login.css">


    <script src="static/js/vue.min.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script src="static/js/qs.min.js"></script>
    <script src="static/js/rem_common.js"></script>

    <style>
        select{
            padding-top:0;
            padding-bottom: 0;
        }
        #md{
            line-height: 40px;
        }
    </style>
</head>
<body>
<div class="web">
    <div class="card">
        <i class="iconfont icon-bianhao"></i>
        <select name="" id="md" v-model="Params.COMNo">
            <option class="companies" v-for="(item,index) in Companies" :key="index" :value="item.COMNo">{{item.COMNo}}</option>
        </select>
    </div>
</div>
</body>
</html>
<script>
    new Vue({
        el:'.web',
        data:{
            Companies: [],
            Params:{
                COMNo:'',
                UserCode:'',
                PWD:'',
                UUID:'aa',
                JPushRegID:'bb',
                DeviceType:'aPhone'
            }
        },
        created: function () {
            this.companyInit();
        },
        methods:{
            companyInit:function(){
                this.Params.COMNo='A01';
                this.Companies=[
                    {COMNo:'A01'},
                    {COMNo:'A02'},
                    {COMNo:'A03'}
                ];
                // var _this=this;
                // axios.post('http://39.108.15.203:8000/AppSvc/BaseConfig.aspx?action=getshops',{headers:{
                //         'Content-Type':'application/x-www-form-urlencoded'
                //     }})
                //     .then(function (response) {
                //         _this.Companies=response.data.Companies;
                //         _this.Params.COMNo=response.data.Companies[0].COMNo;
                //     })
                //     .catch(function (error) { // 请求失败处理
                //         console.log(error);
                //     });
            }
        }
    })
   
   
</script>